body {
  margin: 0;
  padding: 0;
  padding: 0 8rem;
}

/* tablet screen */
@media (max-width: 1008px) {
  body {
    padding: 0 0.75rem;
  }
}


/* Mobile screen */
@media (max-width: 780px) {
  body {
    padding: 0 0.75rem;
  }
}
